@model IEnumerable<AbcProjectManagement.Models.ProjectsModel>

@{
    ViewData["Title"] = "Projects";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css"/>


<h1>Projects</h1>

<p>
    <a class="btn btn-primary p-2" asp-action="Create">Create New</a>
</p>
<table id="projects-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Progress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Progress)
            </td>
            <td>
                <a class="btn btn-info p-2" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-warning p-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-danger p-2" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

<script src="~/js/projectsTable.js" asp-append-version="true"></script>




