@model IEnumerable<AbcProjectManagement.Models.ProjectsModel>

@{
    ViewData["Title"] = "Projects";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css" />

<div class="container card shadow py-3 px-4" style="margin-top:2%">
    <h1 class="mb-2">Projects</h1>

    <p>
        <a class="btn btn-primary mb-2" asp-action="Create">Create New</a>
    </p>
    <table id="projects-table" class="table">
        <thead>
            <tr>
                <th class="col-2">
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th class="col-4">
                    @Html.DisplayNameFor(model => model.Team)
                </th>
                <th class="col-2">
                    @Html.DisplayNameFor(model => model.Progress)
                </th>
                <th class="col-3"></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team)
                </td>
                <td>
                    <progress value=@item.Progress max="1"></progress>  
                    @*@Html.DisplayFor(modelItem => item.Progress)*@
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>